.info {
  width: 100%;
  height: calc(100% - 116px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: #7ed321;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    @media screen and (max-width: 440px) {
      width: 80%;
    }
  }

  &__content {
    @media screen and (max-width: 440px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__description {
    max-width: 614px;
    margin-top: 15px;
    @media screen and (max-width: 440px) {
      max-width: 80%;
    }
  }

  &__subtitle {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin-bottom: 30px;
  }
}
